<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h2>This is Home</h2>

  <h3><a href="http://localhost:3000/signup">Sign Up</a></h3>
  <h3><a href="http://localhost:3000/login">Log In</a></h3>
  
</body>
</html>